<html>
    <head>
        <title>David's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">David's blog</a></h1>
        </div>
        
        <div>
            <p>published:08.10.2018, 13.33</p>
            <h2><a href="">My First Post</a></h2>
            <p>This is the text of my first post</p>
        </div>

        <div>
            <p>published:08.10.2018, 13.33</p>
            <h2><a href="">My Second Post</a></h2>
            <p>This is the text of my second post</p>
        </div>
    </body>
</html>